{% extends "mld_menu.html" %}
{% load crispy_forms_tags %}
{% block content %}
<p>
  <form action="" method="post" id="upload_form" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Submit">
    <input type="submit" value="Cancel" onclick="window.location.href='{% url 'mld:all_graphs' %}';return false;">
  </form>
</p>

{% endblock %}

{% block footer %}

<script>

    var algorithms = [];
    var algorithms_dict = {};
    var datasets = [];
    var datasets_dict = {};
    var binary_classification_datasets = [];
    var regression_datasets = [];
    var binary_classification_algorithms = []; //
    var regression_algorithms = []; //
    var number_of_parameters = []; //
    var parameter_1_names_keys = []; //
    var parameter_2_names_keys = []; //
    var parameter_3_names_keys = [];
    var parameter_names = [];


    var dataset_select_text = [];
    var dataset_select_value = [];
    var algorithm_select_text = [];
    var algorithm_select_value = [];

    var request1 = new XMLHttpRequest();
    var request2 = new XMLHttpRequest();
    var request3 = new XMLHttpRequest();

    request1.open('GET', '{% url 'mld:return_algorithm_models' %}', true);
    request2.open('GET', '{% url 'mld:return_dataset_models' %}', true);
    request3.open('GET', '{% url 'mld:return_parameter_name_models' %}', true);

    request1.onload = function()
    {
        if (this.status >= 200 && this.status < 400)
        {
        // Success!
            var data = JSON.parse(this.response);

            var json = JSON.parse(data);
            var json_length = json.length;

            for (i = 0; i < json_length; i++)
            {
              algorithms.push(json[i].fields.title);
              algorithms_dict[json[i].pk] = json[i].fields.title;

              number_of_parameters.push(json[i].fields.number_of_parameters);
              parameter_1_names_keys.push(json[i].fields.parameter_1_name);
              parameter_2_names_keys.push(json[i].fields.parameter_2_name);
              parameter_3_names_keys.push(json[i].fields.parameter_3_name);

              if (json[i].fields.ml_type == 1)
              {
                  binary_classification_algorithms.push(json[i].pk);
              }
              else if (json[i].fields.ml_type == 2)
              {
                  regression_algorithms.push(json[i].pk);
              }
          }

      }
      else
      {
        // We reached our target server, but it returned an error
        console.log('unknown error');
      }
    };

    request1.onerror = function() {
      // There was a connection error of some sort
      console.log('connection error');
    };

    request2.onload = function()
    {
        if (this.status >= 200 && this.status < 400)
        {
        // Success!
            var data = JSON.parse(this.response);

            var json = JSON.parse(data);
            var json_length = json.length;

            for (i = 0; i < json_length; i++)
            {
              datasets.push(json[i].fields.title);
              datasets_dict[json[i].pk] = json[i].fields.title;

              if (json[i].fields.ml_type == 1)
              {
                  binary_classification_datasets.push(json[i].pk);

              }
              else if (json[i].fields.ml_type == 2)
              {
                  regression_datasets.push(json[i].pk);
              }
          }


      }
      else
      {
        // We reached our target server, but it returned an error
        console.log('unknown error');
      }
    };

    request2.onerror = function() {
      // There was a connection error of some sort
      console.log('connection error');
    };

        request3.onload = function()
    {
        if (this.status >= 200 && this.status < 400)
        {
        // Success!
            var data = JSON.parse(this.response);

            var json = JSON.parse(data);
            var json_length = json.length;


            for (i = 0; i < json_length; i++)
            {
              parameter_names.push(json[i].fields.title);

          }



      }
      else
      {
        // We reached our target server, but it returned an error
        console.log('unknown error');
      }
    };

    request3.onerror = function() {
      // There was a connection error of some sort
      console.log('connection error');
    };


    function AddAttributes(){
        document.getElementById('id_ml_type').setAttribute('onchange', 'myFunction();');

        document.getElementById('id_algorithm').setAttribute('onchange', 'checkNumberOfParameters();');
        console.log('added attributes');

    };

    function myFunction() {


        // document.querySelector("label[for='id_parameter_1_value']").innerHTML
        x = document.getElementById('id_dataset');
        y = document.getElementById('id_algorithm');

        var elements = document.getElementsByTagName("select");

        if (elements[0][0].text == '---------')
        {
            elements[0][0].remove();
        }


        $("#id_dataset").empty();
        $("#id_algorithm").empty();

        var e = document.getElementById("id_ml_type");
        var ml_type_value = e.value;


        bcd_length = binary_classification_datasets.length

        if (ml_type_value == 1)
        {

            for (i = 0; i < binary_classification_datasets.length; i++)
            {
                var opt = document.createElement('option');
                opt.value = binary_classification_datasets[i];
                // opt.text = datasets[binary_classification_datasets[i] - 1];
                opt.text = datasets_dict[binary_classification_datasets[i]];
                x.appendChild(opt);

            }

            for (i = 0; i < binary_classification_algorithms.length; i++)
            {
                var opt = document.createElement('option');
                opt.value = binary_classification_algorithms[i];
                opt.text = algorithms[binary_classification_algorithms[i] - 1];
                y.appendChild(opt);
            }


        }
        else if (ml_type_value == 2)

        {
            for (i = 0; i < regression_datasets.length; i++)
            {
            var opt = document.createElement('option');
            opt.value = regression_datasets[i];
            //opt.text = datasets[regression_datasets[i] - 1];
            opt.text = datasets_dict[regression_datasets[i]];
            x.appendChild(opt);

            }

            for (i = 0; i < regression_algorithms.length; i++)
            {
            var opt = document.createElement('option');
            opt.value = regression_algorithms[i];
            opt.text = algorithms[regression_algorithms[i] - 1];
            y.appendChild(opt);

            }

        }

    };

        function getSelectedItems()
        {
            var elements = document.getElementsByTagName("select");

            return elements;

        };

    window.onload = AddAttributes;


    request1.send();
    request2.send();
    request3.send();


</script>
{% endblock %}