{% extends "mld_menu.html" %}
{% block content %}
<h1 class="text-center">Welcome to Machine Learning Tool</h1>

<!--<p>-->
<!--{% if user.is_authenticated %}-->
<!--    <form action="{% url 'logout' %}?next={% url 'mld:mld_home' %}">-->
<!--        <input class ="form-control form-horizontal btn btn-default" type="submit" value="Logout">-->
<!--    </form>-->
<!--{% else %}-->
<!--    <form action="{% url 'login' %}?next={% url 'mld:all' %}">-->
<!--        <input class ="form-control form-horizontal btn btn-primary" type="submit" value="Login">-->
<!--    </form>-->
<!--{% endif %}-->
<!--</p>-->

<!--<p>-->
<!--{% if user.is_authenticated %}-->
<!--<a href="{% url 'logout' %}?next={% url 'mld:mld_home' %}">Logout</a>-->
<!--{% else %}-->
<!--<a href="{% url 'login' %}?next={% url 'mld:mld_home' %}">Please Login</a>-->
<!--{% endif %}-->
<!--</p>-->

<p>This app lets you train and test various <em>supervised machine learning</em>
algorithms and visualize the accuracy of their results. It allows you to adjust parameters that control the complexity of the algorithm model and save these results
for future comparison. It also lets you upload and save your own custom datasets in CSV or Excel formats.</p>
<p>


<h3 class="text-center">What is supervised machine learning?</h3>

<p><em>Supervised machine learning</em> involves providing input data (known as <em>features</em> or <em>independent
variables</em>) along with an output variable (known as a <em>label</em> or <em>dependent variable</em>). The algorithm assesses
each row of the data and generates a model that will attempt to label each row correctly.</p>

<h3 class="text-center">How does supervised machine learning work?</h3>

<p>Supervised machine learning consists of two phases: <em>training</em> and <em>testing</em>.</p>

<p></p><em>Training</em> involves providing the model with both the input and output variables.
The algorithm adjusts the model (also known as ‘fitting’) to find what combination of
values of input variables will most often result in the provided outcome variable value.</p>

<p>In the <em>testing</em> phase, the algorithm is initially given only the input variables, makes a prediction
of the outcome, and afterwards compares the result with the provided outcome label or value.</p>

<p>Once a model is trained and tested for a particular dataset, this app saves the <em>accuracy</em> (or percentage of correct vs. incorrect
labels) for both the training and test phases, which can later be compared or plotted on a graph.</p>

<p>The current version of this app supports a general type of machine learning algorithm
known as <em>binary classification</em></p>

<h3 class="text-center">What is binary classification?</h3>

<p>Binary classification uses two possible values as an output or label (e.g., true or false, benign or malignant, spam or not spam).
This app lets you choose many of the most common algorithms used in binary classification. Future versions of this
app will also include <em>regression</em> algorithms, in which the output variables are continuous numeric values.</p>

<h3 class="text-center">What is overfitting?</h3>

<p>In supervised machine learning, there are trade-offs between the complexity of a model and the accuracy of the
training and test results.</p>

<p>During the training phase, the more closely the model fits the training data, that is the more complex the model is, the higher the accuracy of the
training results will be.</p>

<p>If the model fits the training data too well however, it will not score well during the test phase. This
is called <em>overfitting</em>.</p>

<p>One way to avoid overfitting the training data is to simplify the model. Most machine learning models have
various parameters that allow <em>regularization</em> or model simplification.</p>

<p>If a model is simplified, it may be less accurate during the training phase, but its accuracy will often improve during the test phase.
This means it will <em>generalize</em> better, and thus it will be more effective in the real world.</p>

<p>Part of the task of applied machine learning is to find the best algorithm model and parameter values for a given dataset that generate the highest test score accuracy.
This app helps the user accomplish this task without needing to code or understand the math behind the algorithms.</p>



{% endblock %}