{% extends "dl_menu.html" %}
{% block content %}


    <h1 class="text-center">Delete Category</h1>

        <form action="" method="POST">
          {% csrf_token %}
          <input class ="form-control form-horizontal btn btn-warning" type="submit" value="Delete">
        </form>

    <ul class="list-group">
        <li class="list-group-item">
            <h4 class="list-group-item-heading">Are you sure you want to delete the category: </h4>

            <p class="list-group-item-text">{{ category }}?</p>
        </li>

    <button class="form-control form-horizontal btn btn-default" onclick="javascript:history.back();">Cancel</button>
    </ul>



{% endblock %}